
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="form-detail">
    <p>Password Reset link Has Been Sent To Your Email, Please Check you Inbox</p>
    <a href="https://mail.google.com/mail/u/0/#inbox">Go To Your Inbox</a>
</div>
@section ValidationScriptSection {
    <partial name="_ValidationScriptsPartial" />
}
