@using DemoMvcAgain.PL.Models;
@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div asp-validation-summary="All" class="text-danger"></div>
<form class="form-detail" asp-action="SendEmail">
	<h2>Forget Password Account Form</h2>
	<div class="form-row">
		@* <label for="Email">Email</label> *@
		<input asp-for="Email" class="input-text" placeholder="Email">
		<span class="text-danger" asp-validation-for="Email"></span>
	</div>
	<div class="form-row-last">
		<input type="submit" class="register" value="Reset Password">
	</div>

</form>
@section ValidationScriptSection {
	<partial name="_ValidationScriptsPartial" />
}


