@using DemoMvcAgain.PL.Models;
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div asp-validation-summary="All" class="text-danger"></div>
<form class="form-detail" asp-action="Register">
	<h2>Register Account Form</h2>
	<div class="form-row">
		@* <label for="FName">First Name</label> *@
		<input asp-for="FName" class="input-text" placeholder="First Name">
		<span class="text-danger" asp-validation-for="FName"></span>
	</div>
	<div class="form-row">
		@* <label for="LName">Last Name</label> *@
		<input asp-for="LName" class="input-text" placeholder="Last Name">
		<span class="text-danger" asp-validation-for="LName"></span>
	</div>
	<div class="form-row">
		@* <label for="Email">Email</label> *@
		<input asp-for="Email" class="input-text" placeholder="Email">
		<span class="" asp-validation-for="Email"></span>
	</div>
	<div class="form-row">
		@* <label for="Password">Password</label> *@
		<input asp-for="Password" class="input-text" placeholder="Password">
		<span class="text-danger" asp-validation-for="Password"></span>
	</div>
	<div class="form-row">
		@* <label for="ConfirmPassword">Confirm Password</label> *@
		<input asp-for="ConfirmPassword" class="input-text" placeholder="Confirm Password">
		<span class="text-danger" asp-validation-for="ConfirmPassword"></span>
	</div>
	<div class="form-row">
		@* <label for="ConfirmPassword">Confirm Password</label> *@
		<label class="cdflx-checkbox">
			<input asp-for="IsAgree" type="checkbox"> <span>I Agree To The Terms & Conditions</span>
		</label>
	</div>
	<div class="form-row-last">
		<input type="submit" class="register" value="Register">
	</div>
</form>
<p class="link">have an account? <a asp-action="Login">Login Now!</a></p>
@section ValidationScriptSection {
	<partial name="_ValidationScriptsPartial" />
}
