@model IEnumerable<Hospital.DAL.Entites.HospitalEntity>
<div id="Apppointment_Stepper" class="row justify-content-center">
    <h2>Select Hospital</h2>
    <form method="post" class="row justify-content-center" asp-action="Create">
        <div class="form-group">
            <select class="form-control overflow-scroll" id="hospitalSelect" name="HospitalId">
                <option value="">Select Hospital</option>
                @foreach (var hospital in Model)
                {
                    <option value="@hospital.Id">@hospital.Hospital_Name</option>
                }
            </select>
        </div>
        <div  class="form-group">
            <div id="departmentSection" style="display:none;">
                <h2>Select Department</h2>
                <select class="form-control overflow-scroll" id="departmentSelect" name="DepartmentId">
                    <option value="">Select Department</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div id="doctorSection" style="display:none;">
                <h2>Select Doctor</h2>
                <select class="form-control overflow-scroll" id="doctorSelect" name="DoctorID">
                    <option value="">Select Doctor</option>
                </select>
            </div>
        </div>
        @* <div class="form-group">
            <div id="patientSection" style="display:none;">
                <h2>Select Patient</h2>
                <select class="form-control overflow-scroll" id="patientSelect">
                    <option value="">Select Doctor</option>
                </select>
            </div>
        </div> *@
        <div class="form-group">
            <div id="dateSection" style="display:none;">
                <h2>Select Appointment Date</h2>
                <input type="date" id="appointmentDate" class="form-control" name="Date">
            </div>
        </div>
        <div class="form-group" id="patientSection" style="position:relative; display:none">
            <h2 for="patientSearch">Search and Select Patient:</h2>
            <input type="text" id="patientSearch" class="form-control" placeholder="Start typing to search..." autocomplete="off">
            <input type="hidden" id="selectedPatientId" name="PatientId">
            <ul id="patientResults" class="list-group" style="display: none; position: absolute; z-index: 1000; width: 100%;">
                <!-- Dynamic search results will appear here -->
            </ul>
        </div>

        <button type="submit" id="submitAppointment" class="btn btn-primary mt-3 w-50" style="display:none;">Create Appointment</button>
    </form>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            
        });
    </script>
}
